# Virtual envs
.venv/
venv/
env/

# PyCharm / JetBrains
.idea/
*.iml

# Python cache / artifacts
__pycache__/
*.py[cod]
*.pyo

# Test / tooling
.pytest_cache/

# Data / local artifacts
*.csv
*.data
*.xls*

# macOS
.DS_Store

#logs
*logs/

# Ignore egg-info directories created by setuptools
ai_ml_learning_journey.egg-info/
.eggs/

# pdfs
*.pdf
/Rishu_Papers
